{% extends 'base.html' %}
{% block content %}
{% include 'sidebar.html' %}
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'index' current_page_user.id %}">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'messages' user.id %}">Messages</a></li>
			</ul>

			<div class="row-fluid">
				<div class="box span10" onTablet="span12">
                    <div class="box-content">
                        <table style="width: 100%;">
                            <tbody id="conv_list">
                            {% for message, last_seen, conv in last_messages %}
                                <tr>
                                <td>
                                    <a href="{% url "index" user.id %}">
                                        <span style="display: block;">
                                            <img class="img-circle" style="max-width: 46px; max-height: 52px;" src="/media/{{ conv.avatar }}" />
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url "index" user.id %}">
                                        <span style="display: block;">
                                            {{ conv.first_name }} {{ conv.last_name }}
                                        </span>
                                    </a>
                                </td>
                                <td class="message {{ conv.id }}" width="60%" {% if last_seen < message.pub_date %}style="background-color: #DEEFFF; padding: 5px; border-radius: 3px"{% endif %} >
                                    <a href="{% url "room" user.id message.chat_room.name %}">
                                        <span style="display: block;">
                                            {{ message.message }}
                                        </span>
                                    </a>
                                </td>
                                <td style="" class="date {{ conv.id }}">{{ message.pub_date|date:"H:i d-M-y" }}</td>
                                <td>
                                    <a href="{% url 'delete_chat' user.id message.chat_room.name %}" class="red" style="padding: 3px; border-radius: 2px; color: white;">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
				</div>

			</div>

       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
<script>
    var prot = window.location.protocol == 'https:' ? 'wss:' : 'ws:';
    var chatSocket_group = new WebSocket(
        prot + '//' + window.location.host + '/ws/chat/listener/');
    chatSocket_group.onmessage = function(e) {
        console.log('Got new message!');
        var mess_elem = document.getElementById('new_message');
        if (typeof mess_elem == undefined || mess_elem == null) {
            var elem = document.createElement('span');
            elem.id = 'new_message';
            elem.innerText = 'new!';
            elem.style.backgroundColor = '#E25A59';
            elem.style.padding = '5px';
            var messages = document.getElementById("messages");
            messages.appendChild(elem);
        };
        var data = JSON.parse(e.data);
        var new_message_elem = document.getElementsByClassName('message ' + data['user_id'])[0];
        var new_date_elem = document.getElementsByClassName('date ' + data['user_id'])[0];
        new_message_elem.style.backgroudColor = "#DEEFFF;";
        new_message_elem.style.padding = "5px";
        new_message_elem.style.borderRadius = "3px";
        new_message_elem.innerHTML = "" +
            "<a href='chat/" + data['group'] + "/'>\n" +
            "<span style=\"display: block;\">\n" +
            data['message'] +
            "</span>\n" +
            "</a>" +
            "";
        new_date_elem.innerText = data['pub_date'];
    };

    chatSocket_group.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
{% endblock %}
