{% extends 'base.html' %}
{% block content %}
    {% include 'sidebar.html' %}
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'index' current_page_user.id %}">Home</a>
					<i class="icon-angle-right"></i> 
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="{% url 'edit_profile' user.id %}">Edit profile</a>
				</li>
			</ul>
			
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header" data-original-title>
					</div>
					<div class="box-content">
						<form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'update_profile' user.id %}">
                          {% csrf_token %}
						  <fieldset>
							<div class="control-group">
							  <label class="control-label" for="typeahead">Edit username</label>
							  <div class="controls">
                                {{ form.username }}
							  </div>
							</div>
                            <div class="control-group">
							  <label class="control-label" for="typeahead">Edit first name</label>
							  <div class="controls">
                                {{ form.first_name }}
							  </div>
							</div>
                            <div class="control-group">
							  <label class="control-label" for="typeahead">Edit last name</label>
							  <div class="controls">
                                {{ form.last_name }}
							  </div>
							</div>
                            <div class="control-group">
							  <label class="control-label" for="typeahead">Edit e-mail</label>
							  <div class="controls">
                                {{ form.email }}
							  </div>
							</div>
							<div class="control-group">
							  <label class="control-label" for="fileInput">Change avatar</label>
							  <div class="controls">
								{{ form.avatar }}
							  </div>
							</div>
                              <div class="control-group">
							  <label class="control-label" for="typeahead">Edit password</label>
							  <div class="controls">
                                {{ form.password }}
							  </div>
							</div>
                            <div class="control-group">
							  <label class="control-label" for="typeahead">Confirm password</label>
							  <div class="controls">
                                <input type="password" name="confirm_password" class="form-control"
                                       placeholder="confirm password" id="id_confirm_password" />
							  </div>
							</div>
							<div class="form-actions">
							  <button type="submit" class="btn btn-primary">Save changes</button>
							  <button type="reset" class="btn">Cancel</button>
							</div>
						  </fieldset>
						</form>
					</div>
				</div><!--/span-->

			</div><!--/row-->
    

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
    {% include 'messages_listener.html' %}

{% endblock %}
