{% extends 'base.html' %}
{% block content %}
    {% include 'sidebar.html' %}
        <!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'index' current_page_user.id %}">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'friends' current_page_user.id %}">Friends</a></li>
			</ul>

			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Friends requests</h2>
					</div>
                    {% if user == current_page_user %}
                    <div class="box-content">
						<table class="table table-striped table-bordered">
						  <thead>
							  <tr>
								  <th>Username</th>
								  <th>Name</th>
								  <th>Actions</th>
							  </tr>
						  </thead>
						  <tbody>
                            {% for friend in friends_requests_users %}
							<tr>
                                <td>
                                    <img class="img-circle" style="max-width: 36px; max-height: 42px;" alt="{{ friend.username }}" src="/media/{{ friend.avatar }}">
                                </td>
                                <td>
                                    <a href="{% url 'index' friend.id %}">
                                        {{ friend.first_name }} {{ friend.last_name }}
                                    </a>
                                </td>
								<td class="center">
                                    <a class="btn btn-success" href="{% url 'start_chat' user.id friend.id %}">
										<i class="halflings-icon white envelope"></i>
									</a>
									<a class="btn btn-primary" href="{% url 'accept_friend' friend.id %}">
									    <i class="halflings-icon white ok-circle"></i>
                                    </a>

									<a class="btn btn-danger" href="{% url 'decline_friend' friend.id %}">
										<i class="halflings-icon white ban-circle"></i>
									</a>
								</td>
							</tr>
                            {% endfor %}
						  </tbody>
					  </table>
					</div>
                    {% endif %}
                    <div class="box-header" data-original-title>
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Friends list</h2>
					</div>
                    <div class="box-content">
						<table class="table table-striped table-bordered">
						  <thead>
							  <tr>
								  <th>Avatar</th>
								  <th>Name</th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
                            {% for friend in friends %}
							<tr>
                                <td>
                                    <img class="img-circle" style="max-width: 36px; max-height: 42px;" alt="{{ friend.username }}" src="/media/{{ friend.avatar }}">
                                </td>
                                <td>
                                    <a href="{% url 'index' friend.id %}">
                                        {{ friend.first_name }} {{ friend.last_name }}
                                    </a>
                                </td>
								<td class="center">
									<a class="btn btn-success" href="{% url 'start_chat' user.id friend.id %}">
										<i class="halflings-icon white envelope"></i>
									</a>
									<a class="btn btn-danger" href="{% url 'remove_friend' friend.id %}">
										<i class="halflings-icon white trash"></i> 
									</a>
								</td>
							</tr>
                            {% endfor %}
						  </tbody>
					  </table>            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
        {% include 'messages_listener.html' %}
{% endblock %}
