{% extends 'base.html' %}
{% block content %}
{% include 'sidebar.html' %}
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'index' current_page_user.id %}">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'gallery' current_page_user.id %}">Gallery</a></li>
			</ul>
            {% if user == current_page_user %}
            <div class="row-fluid">
				<div class="box span12">
					<div class="box-content">
						<form class="form-horizontal" style="margin: 0" method="post" action="{% url 'upload_pic' %}" enctype="multipart/form-data">
                            {% csrf_token %}
						  <fieldset>
							<div class="">
							  <label class="control-label" for="fileInput">File input</label>
							  <div class="controls">
								<div class="uploader" id="uniform-fileInput">
                                    {{ form.pic }}
							    </div>
                                <button type="submit" class="btn btn-primary">Upload a photo</button>
							    <button type="reset" class="btn">Cancel</button>
							</div>
						  </fieldset>
						</form>
					</div>
				</div><!--/span-->
            </div>
            {% endif %}
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header" data-original-title>
                        <h2>Gallery</h2>
						<div class="box-icon">
							<a href="#" id="toggle-fullscreen" class="hidden-phone hidden-tablet"><i class="halflings-icon white fullscreen"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div class="masonry-gallery">
                            {% for pic in gallery %}
							<div class="masonry-thumb">
								<a style="background:url(/media/{{ pic.pic }})" title="Sample Image" href="/media/{{ pic.pic }}"><img class="grayscale" src="/media/{{ pic.pic }}" alt="Sample Image"></a>
							</div>
                            {% endfor %}
						</div>
					</div>
					<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-content">
							<ul class="list-inline item-details">
								<li><a href="http://themifycloud.com">Admin templates</a></li>
								<li><a href="http://themescloud.org">Bootstrap themes</a></li>
							</ul>
						</div>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
    

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
{% endblock %}
