{% extends 'base.html' %}
    {% block content %}
		    {% include 'sidebar.html' %}
			
			<!-- start: Content -->
			<div id="content" class="span10">
			{% if current_page_user.id != user.id %}
			    {% if is_friend %}
                    <a href="{% url 'remove_friend' current_page_user.id %}">Remove from friendslist</a>
                {% else %}
                    <a href="{% url 'friends_request' current_page_user.id %}">Add to friendslist</a>
                {% endif %}
            {% endif %}
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'index' current_page_user.id %}">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'index' current_page_user.id %}">Homepage</a></li>
			</ul>

			<div class="row-fluid">
                <div class="widget span3 black" onTablet="span6" onDesktop="span3">
					<div class="content">
						<img src="/media/{{ current_page_user.avatar }}"/>
					</div>
				</div>
				<div class=" span3 widget white" onTablet="span6" onDesktop="span3">
                    <div class="content">
                        <p>
                            {{ current_page_user.first_name }} {{ current_page_user.last_name }}
                        </p>
                        <p>
                            {{ current_page_user.username }}
                        </p>
                        <p>
                            {{ current_page_user.email }}
                        </p>
                    </div>
					<div class="clearfix"></div>

                </div><!-- End .sparkStats -->

			</div>
            <div class="span3">
			    <div class="row-fluid">
                    <div class="box black span12">
				    	<div class="box-header">
                            <a href="{% url 'friends' current_page_user.id %}">
				    		<h2><i class="halflings-icon white user"></i><span class="break"></span>Friends</h2>
                            </a>
                            <div class="box-icon">
				    			<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
				    			<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
				    		</div>
				    	</div>
				    	<div class="box-content">
				    		<ul class="dashboard-list">
                                {% for friend in friends %}
				    			<li>
				    				<a href="{% url 'index' friend.id %}">
				    					<img class="img-circle" style="max-width: 36px; max-height: 42px;" alt="{{ friend.username }}" src="/media/{{ friend.avatar }}">
				    				    {{ friend.first_name }} {{ friend.last_name }}
                                    </a>
				    			</li>
                                {% endfor %}
				    		</ul>
				    	</div>
				    </div><!--/span-->
                </div>
                <div class="row-fluid">
			    	<div class="box black span12">
			    		<div class="box-header">
			    			<a href="{% url 'gallery' current_page_user.id %}">
                            <h2><i class="halflings-icon white user"></i><span class="break"></span>Gallery</h2>
                            </a>
                            <div class="box-icon">
			    				<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
			    				<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
			    			</div>
			    		</div>
			    		<div class="box-content">
                                {% for pic in gallery %}
                                    <a style="background:url(/media/{{ pic.pic }})" title="Sample Image" href="/media/{{ pic.pic }}">
                                    <img class="img-polaroid" width="80" height="80" src="/media/{{ pic.pic }}" />
                                    </a>
                                {% endfor %}
			    		</div>
			    	</div><!--/span-->
			    </div>
            </div>
            <div class="span7">
                <div class="row-fluid">
                    <div class="box span12 chat-form black" style="margin-top: 0;">
                        <form method="post" action="{% url 'wall_post' current_page_user.id %}">
                            {% csrf_token %}
                            <textarea name="message"></textarea>
                            <button type="submit" class="btn btn-warning">Add post</button>
                        </form>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="box span12 black noMargin"  style="color: #646464;">
				    	<div class="box-header">
				    		<h2><i class="halflings-icon white list"></i><span class="break"></span>Wall</h2>
				    		<div class="box-icon">
				    			<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
				    			<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
				    		</div>
				    	</div>
				    	<div class="box-content">
				    		<ul class="tickets">
                                {% for post in wall %}
				    			<li class="ticket">

				    					<span class="header">
                                            <a href="{% url 'index' post.author.id %}">
				    						<span>{{ post.author.first_name }} {{ post.author.last_name }}  </span>
                                            </a>
                                            <span style="float: right;">{{ post.pub_date }}</span>
				    					</span>
				    					<span class="content">
				    						<span>{{ post.message }}</span>
				    					</span>

				    			</li>
                                {% endfor %}
				    		</ul>
				    	</div>
				    </div><!--/span-->
                </div>
            </div>
			<!--/row-->
			
       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
    {% include 'messages_listener.html' %}
    {% endblock %}
