{% extends 'base.html' %}
{% block content %}
		<div class="container-fluid-full">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box" style="width: 250px;">
					<h2 class="align-center" style="font-family: 'Open Sans', sans-serif;">Login to your account</h2>
					<form class="form-horizontal" action="{% url 'logging_in' %}" method="post">
						{% csrf_token %}
                        <fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								{{ form.username }}
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
                                {{ form.password }}
							</div>
							<div class="clearfix"></div>
							<div class="span12 text-center">
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
							<div class="clearfix"></div>
                        </fieldset>
					</form>
					<hr>

                    <div class="span12 text-center noMargin" style="margin-bottom: 10px;">
                        <a href="{% url 'registration' %}" class="btn btn-success">Register a new account</a>
                    </div>
				</div><!--/span-->

			</div><!--/row-->
			

	</div><!--/.fluid-container-->
	
		</div><!--/fluid-row-->

{% endblock %}