<script>
    var prot = window.location.protocol == 'https:' ? 'wss:' : 'ws:';
    console.log(window.location.protocol);
    console.log(prot);
    var chatSocket_group = new WebSocket(
        prot + '//' + window.location.host + '/ws/chat/listener/');
    chatSocket_group.onmessage = function(e) {
        console.log('Got new message!');
        var mess_elem = document.getElementById('new_message');
        console.log(mess_elem);
        if (typeof mess_elem == 'undefined' || mess_elem == null) {
            var elem = document.createElement('span');
            elem.id = 'new_message';
            elem.innerText = 'new!';
            elem.style.backgroundColor = '#E25A59';
            elem.style.padding = '5px';
            var messages = document.getElementById("messages");
            messages.appendChild(elem);
        }
    };

    chatSocket_group.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>