{% extends 'base.html' %}
{% block content %}
		<div class="container-fluid-full">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box" style="width: 250px;">
					<div class="icons">
						<a href="{% url 'login' %}"><button class="btn btn-mini">Login page</button></a>
					</div>
					<h2 class="align-center" style="font-family: 'Open Sans', sans-serif;">Register a new account</h2>
					<form class="form-horizontal" action="{% url 'register' %}" method="post">
						{% csrf_token %}
                        <fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								{{ form.username }}
							</div>
							<div class="clearfix"></div>
                            <div class="input-prepend" title="First name">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								{{ form.first_name }}
							</div>
							<div class="clearfix"></div>
                            <div class="input-prepend" title="Last name">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								{{ form.last_name }}
							</div>
							<div class="clearfix"></div>
                            <div class="input-prepend" title="E-mail">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								{{ form.email }}
							</div>
							<div class="clearfix"></div>
							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
                                {{ form.password }}
							</div>
							<div class="clearfix"></div>
							<div class="input-prepend" title="Confirm password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
								<input class="input-large span10" name="confirm_password" id="id_confirm_password" type="password" placeholder="confirm password"/>
							</div>
                            <div class="clearfix"></div>
							<div class="span12 text-center">
								<button type="submit" class="btn btn-primary">Register</button>
							</div>
							<div class="clearfix"></div>
                        </fieldset>
					</form>
					<hr>
				</div><!--/span-->
			</div><!--/row-->
			

	</div><!--/.fluid-container-->
	
		</div><!--/fluid-row-->
{% endblock %}