{% extends 'base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static "css/signin.css" %}">
<div class="container">
    <form method="post" class="form-signin" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.username }}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.password }}
        <input type="password" name="confirm_password" class="form-control" placeholder="confirm password"
        required id="id_confirm_password" />
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" />
    </form>
</div>
{% endblock %}